*{margin:0;}
img  {
	width:200px;
	height:200px;
padding: 20px;
box-shadow: 1px 1px 1px;
border-radius: 25px;
border-color: black;
	}
.listdevideos{
display: flex;
flex-wrap: wrap;


align-content: center;
}
a{

	padding: 4px;
}
	h1{
		text-transform:uppercase;
		padding: 20px;
		text-shadow: 2px 1px black;
		letter-spacing: 1em;
	}

